body {
    margin: 0;
}

header {
    display: none;
}

.swagger-ui .topbar {
    background-color: #245B78;
}

.topbar img {
    display: none;
}

#swagger-ui.api-platform .info .title {
    color: #555;
}

.swagger-ui .auth-wrapper .authorize {
    display: none;
}

.swagger-ui .scheme-container .servers, .swagger-ui .scheme-container .servers-title {
    display: none;
}

.swagger-ui .scheme-container {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.swagger-ui .info .title, html, .swagger-ui table thead tr * {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#swagger-ui.api-platform .opblock.opblock-get .opblock-summary-method {
    background-color: rgb(36,91,120);
}

#swagger-ui.api-platform .opblock.opblock-post .opblock-summary-method {
    background-color: #159359;
}

#swagger-ui.api-platform .opblock.opblock-put .opblock-summary-method {
    background-color: #d58727;
}

#swagger-ui.api-platform .information-container.wrapper {
    margin-bottom: 20px;
}

.swagger-ui .info .title small {
    display: none;
}

.swagger-ui .svg-assets {
    display: none;
}